<header>
  <nav class="z-[10000]">
    <!-- VERSION MOBILE -->
    <div class="drawer text-base-100 text-primary z-[10000]">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div class="navbar py-0 w-full shadow-lg bg-primary text-base-100">
          <div class="navbar-start">
            <label
              for="my-drawer-3"
              aria-label="open sidebar"
              class="btn btn-square btn-ghost lg:hidden"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-6 w-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </label>
            <a
              class="flex items-center gap-2 px-2 font-bold text-xl"
              href="/"
            >
              <span class="w-8 h-8 lg:w-9 lg:h-9 shadow-xl bg-white p-[3px] rounded-full">
                <img
                  alt="Velogrimpe.fr"
                  src="/images/logo_no_bg.png"
                  class="h-full object-cover w-auto"
                />
              </span>
              <span>Vélogrimpe.fr</span>
            </a>
          </div>
          <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1 text-lg">
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100"
                  href="/carte.php"
                  >Carte</a
                >
              </li>
              <li>
                <details>
                  <summary
                    class="hover:text-base-100 text-base-100 focus:text-base-100"
                  >
                    Falaises proches de...
                  </summary>
                  <ul class="bg-base-100 rounded-box z-[1] w-52 p-2 shadow-xl">
                    <li>
                      <a class="text-primary" href="/tableau.php?ville_id=13">
                        Annecy
                      </a>
                    </li>
                    <li>
                      <a class="text-primary" href="/tableau.php?ville_id=7">
                        Chambéry
                      </a>
                    </li>
                    <li>
                      <a class="text-primary" href="/tableau.php?ville_id=11">
                        Grenoble
                      </a>
                    </li>
                    <li>
                      <a class="text-primary" href="/tableau.php?ville_id=6">
                        Lyon
                      </a>
                    </li>
                    <li>
                      <a class="text-primary" href="/tableau.php?ville_id=15">
                        Marseille
                      </a>
                    </li>
                    <li>
                      <a class="text-primary" href="/tableau.php?ville_id=19">
                        Montpellier
                      </a>
                    </li>
                    <li>
                      <a class="text-primary" href="/tableau.php?ville_id=18">
                        Paris
                      </a>
                    </li>
                    <li>
                      <a class="text-primary" href="/tableau.php?ville_id=12">
                        Valence
                      </a>
                    </li>
                  </ul>
                </details>
              </li>
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100"
                  href="/logistique.php"
                  >Logistique</a
                >
              </li>
            </ul>
          </div>
          <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal text-base text-base-100">
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100 font-normal"
                  href="/communaute.php"
                  >Communauté</a
                >
              </li>
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100 font-normal"
                  href="/contribuer.php"
                  >Contribuer</a
                >
              </li>
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100 font-normal"
                  href="/actualites"
                  >Actus</a
                >
              </li>
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100 font-normal"
                  href="/infos.php"
                  >Plus d'infos</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="drawer-side z-[10000]">
        <label
          for="my-drawer-3"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul
          class="menu bg-base-200 h-[calc(100%-64px)] w-80 p-4 text-xl gap-4 mt-16 flex-nowrap overflow-scroll max-h-[calc(100vh-64px)]"
        >
          <!-- Sidebar content here -->
          <li><a href="/carte.php">Carte</a></li>
          <li>
            <details>
              <summary class="text-primary font-bold">
                Falaises proches de...
              </summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li>
                  <a href="/tableau.php?ville_id=13">Annecy</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=7">Chambéry</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=11">Grenoble</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=6">Lyon</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=15">Marseille</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=19">Montpellier</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=18">Paris</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=12">Valence</a>
                </li>
              </ul>
            </details>
          </li>
          <li>
            <a href="/logistique.php">Logistique</a>
          </li>
          <li></li>
          <li>
            <a class="text-base-content" href="/communaute.php">Communauté</a>
          </li>
          <li>
            <a class="text-base-content" href="/contribuer.php">Contribuer</a>
          </li>
          <li>
            <a class="text-base-content" href="/actualites">Actualités</a>
          </li>
          <li>
            <a class="text-base-content" href="/infos.php">Plus d'infos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
